body,html
{
    height:100%;
}
.container-fluid
{
    width: 100%;
}
.name-section
{
    /*background-color: lightgrey;*/

}
.name-section
{
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 6px;
    /*height: 25%;*/
   /* background-color: white;*/
    /*background-color: #ffffff;*/
    /*background-image:  linear-gradient(49deg,#ffffff,gray 25%,#ffffff 50%,#eb4f6f);*/
    /*background-image: linear-gradient(to right, rgba(107,183,86,0.95), rgba(0,143,104,0.95));
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);*/
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    color: #000;
    /*z-index: 9999;*/
}
.name-section img
{
    /*border-radius: 50% 50%;*/
    display: block;
    border-radius: 50% 50%;
    /*border-style: groove;*/
    /*border-color: black;*/
    border-width: 1px;
    margin: 0 auto;
    margin-top: 2% ;  /*overriding for margin property here by top direction*/
    /*filter: grayscale(70%);*/
}
.name-section img:hover
{
    box-shadow: 2px 2px 3px 4px lightgrey;
    transition: all 0.4s ease-in-out;
}

.name-section h1
{
    font-size: 3vmax;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    /*color: royalblue;*/
    color: cornflowerblue;
    margin-top: 2%;
}
.name-section p,.about-me p
{
    font-size: 2vmax;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}
.social-section
{
    margin-top: 0;
    margin-bottom: 2%;
}
.social-section a,.social-section a:hover
{
    color: #ffffff;
}
/*a:hover
{
    color: #ffffff;
}*/
i
{
    display: block;
    margin:0 auto;
    width: 30px;
    height: auto;
    text-align: center;
    border-radius: 8%;
}

.about-me
{
    /*z-index: 9999;*/
    position: relative;
    /*clip-path: polygon(0 0px, 100% 100px, 100% 100%, 0px 100%);
    background-color: rgba(114,186,94,0.15);*/
    /*margin-top: 16%;*/
}
.about-me h1,#education-heading,#my-github
{
    font-family: 'Montserrat', sans-serif;
    color: #0077b5;
    margin-top: 4%;
    text-align: center;
    font-size: 2.4vmax;
    /*border-left: solid 4px black;*/
}
.underline
{
    margin: 0 auto;
    display: block;
    height: 1px;
    background-color: black;
    width: 8vmax;
}
.about-me p
{
    font-size: 1.6vmax;
    letter-spacing: 1.1px;
    text-align: center;
    border-left: solid 2px lightgrey;
    border-right: solid 2px lightgrey;
    margin-top: 2%;
}
#graph-github
{
    margin-top: 5%;
}
.education
{
    /*font-family: 'Cabin', sans-serif;*/
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
    /*color: #ffffff;*/
    color: #333;

    margin-top: 3%;
}
.education p
{
    font-size: 1.7vmax;
    letter-spacing: 1.2px;
}
#secondary-details,#senior-details
{
    height: 20vmax;
    background-color: #f8f8f8;
    margin-top: 4%;
    border-radius: 3px;/*9971670194*/
}
#secondary-details:hover,#senior-details:hover
{
    transform: scale(1.1);
    transition: transform 1s ease-in;
    cursor: pointer;
}

#senior-details h1,#secondary-details h1
{
    font-size: 2.7vmax;
    /*font-family: 'PT Sans', sans-serif;*/
}
#feed
{
    margin: 4%;
}
